doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Voces 2021 | Digital Family
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css", integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU", crossorigin="anonymous")
        link( href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        style(type="text/less").
            @beige : #F1F2F2;
            body {
                background: @beige;
            }

    body


        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js", integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/", crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/less.js/4.1.1/less.min.js")
        script.
